:root{
    /*
    --maincolor1: #2b2d42; 
    --maincolor2: #4a4e69; 
    --maincolor3: #9a8c98; 
    --maincolor4: #c9ada7; 
    --maincolor5: #f2e9e4; 
    */
    /*
    Naja
    --maincolor1: #05668d;
    --maincolor2: #028090; 
    --maincolor3: #00a896; 
    --maincolor4: #02c39a; 
    --maincolor5: #f0f3bd; 
    */
    /*
    Okay
    --maincolor1: #5d2a42;
    --maincolor2: #fb6376; 
    --maincolor3: #fcb1a6; 
    --maincolor4: #ffdccc; 
    --maincolor5: #fff9ec; 
    */
    /*
    Hässlich
    --maincolor1: #3d0066;
    --maincolor2: #c670ff; 
    --maincolor3: #eec7fc; 
    --maincolor4: #ffe047; 
    --maincolor5: #ffce1f; 
    */
    /*
    Auch eine nice Möglichkeit mit viel Blau
    --maincolor1: #533747;
    --maincolor2: #5f506b; 
    --maincolor3: #6a6b83; 
    --maincolor4: #76949f; 
    --maincolor5: #86bbbd; 
    */
     

    --maincolor1: #270e0c;
    --maincolor2: #9c3930; 
    --maincolor3: #9c3930; 
    --maincolor4: #74c33c; 
    --maincolor5: #f3dad8; 
    
}

  body::before {
    display: block;
    content: '';
    height: 60px;
  }
  body {
    font-family: "Yanone Kaffeesatz", sans-serif;
  }
  #map {
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }
  
  @media (min-width: 768px) {
    .news-input {
      width: 50%;
    }
  }

  .bgmaincolor1{
      background-color: var(--maincolor1);
  }
  .bgmaincolor2{
      background-color: var(--maincolor2);
  }
  .bgmaincolor3{
    background-color: var(--maincolor3);
  }
  .bgmaincolor4{
    background-color: var(--maincolor4);
  }
  .bgmaincolor5{
    background-color: var(--maincolor5);
  }
  .bgmaincolor3{
    background-color: var(--maincolor3);
  }

  