:root{
    --maincolor1: #2b2d42; 
    --maincolor2: #4a4e69; 
    --maincolor3: #9a8c98; 
    --maincolor4: #c9ada7; 
    --maincolor5: #f2e9e4; 
}

  body::before {
    display: block;
    content: '';
    height: 60px;
  }
  body {
    font-family: "Yanone Kaffeesatz", sans-serif;
  }
  #map {
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }
  
  @media (min-width: 768px) {
    .news-input {
      width: 50%;
    }
  }
  
  #canvas-resp {
    width: 100%;
    
  }

  .bgmaincolor1{
      background-color: var(--maincolor1);
  }
  .bgmaincolor2{
      background-color: var(--maincolor2);
  }
  .bgmaincolor3{
    background-color: var(--maincolor3);
  }
  .bgmaincolor4{
    background-color: var(--maincolor4);
  }
  .bgmaincolor5{
    background-color: var(--maincolor5);
  }
  .bgmaincolor3{
    background-color: var(--maincolor3);
  }

.btn-custom{
  background-color: var(--maincolor1);
  color: white;
}

.btn-custom:hover{
  background: transparent;
  color: #000;
}
.btn-custom:hover:before, 
.btn-custom:hover:after{
  transition: 800ms ease all;
}

body{
  background:#2b2d42;
}

section.awSlider .carousel{
  display:table;
  z-index:2;
  -moz-box-shadow: 0 0 4px #444;
	-webkit-box-shadow: 0 0 4px #444;
	box-shadow: 0 0 15px rgba(1,1,1,.5);
}

section.awSlider{
  margin:30px auto;
  padding:30px;
  position:relative;
  display:table;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

section.awSlider:hover > img{
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  opacity:1;
}

section.awSlider img{
   pointer-events: none;
}

section.awSlider > img{
  position:absolute;
  top:30px;
  z-index:1;
  transition:all .3s;
  filter: blur(1.8vw);
  -webkit-filter: blur(2vw);
  -moz-filter: blur(2vw); 
  -o-filter: blur(2vw); 
  -ms-filter: blur(2vw);
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  opacity:.5;
}